<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | Home page</title>
    <style>
      body {
        background: #282828;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
  
      a {
        color: lawngreen;
      }

      .products:first-child {
        margin-left: 0;
      }

      .products {
        margin-left: 50px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products/new">Add Product</a></li>
          <li><a href="/products/category/laptops">Laptops</a></li>
          <li><a href="/products/category/consoles">Consoles</a></li>
          <li><a href="/products/category/games">Games</a></li>
          <li><a href="/products/category/keyboards">Keyboards</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <h1 style="margin-top: 55px; font-size: 30px;">Newest Products</h1>
      <% if (!Object.keys(newestProducts)[0]) { %>
        <h1>No products available</h1>
      <% } else { %>
        <div style="display: flex; margin-top: 50px;">
          <% newestProducts.forEach(newProduct => { %>
            <div class="products" style="display: flex; flex-direction: column;">
              <a href="/products/show/<%= newProduct.slug %>"><img width="150px" height="100px" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= newProduct.imagePath %>"></a>
              <h1 style="font-size: 20px;"><%= newProduct.title %></h1>
              <h2 style="font-size: 17px;">$<%= newProduct.price %></h2>
            </div>
          <% }) %>
        </div>
      <% } %>
    </section>
  </body>
</html>
