<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | Cart</title>
    <style>
      body {
        background: #282828;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
  
      a {
        color: lawngreen;
      }

      .products:first-child {
        margin-left: 0;
      }

      .products {
        margin-left: 50px;
      }

      #quantity {
        width: 56px;
        height: 25px;
        border-radius: 3px;
        border: 1px #fff solid;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
            <li><a href="/products/new">Add Product</a></li>
          <% } %>
          <% categories.forEach(category => { %>
            <li><a href="/products/category/<%= category.title %>"><%= category.title %></a></li>
          <% }) %>
          <% if (!req.isAuthenticated()) { %>
            <li><a href="/users/login">Sign In</a></li>
          <% } %>
          <% if (req.isAuthenticated()) { %>
            <li><a href="/users/account">My Account</a></li>
          <% } %>
          <li><a href="/cart">Cart</a></li>
        </ul>
        <form action="/" method="GET">
          <input type="search" name="searchField" value="<%= req.query.searchField %>" placeholder="Search">
          <button type="submit">Search</button>
        </form>
        <% searchedProducts.forEach(product => { %>
          <div style="margin-top: 50px;">
            <a href="/products/show/<%= product.slug %>" style="color: #fff; text-decoration: none;">
              <img id="searchImg" width="50px" height="50px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.imagePath %>">
              <h5><%= product.title %></h5>
            </a>
          </div>
        <% }) %>
      </nav>
    </header>
    <main>
      <h1 style="margin-top: 75px;">Shopping Cart</h1>
      <% if (req.isAuthenticated()) { %>
        <% if (!cart.cartProducts[0]) { %>
          <hr>
          <h1 style="margin-top: 10px;">Your cart is empty</h1>
        <% } else { %>
          <% cart.cartProducts.forEach(cartProduct => { %>
            <hr>
            <div style="margin-top: 50px;">
              <a href="/products/show/<%= cartProduct.slug %>">
                <img width="75px" height="75px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= cartProduct.imagePath %>">
              </a>
              <h2><%= cartProduct.title %></h2>
              <h4>$<%= cartProduct.totalPrice %></h4>
              <% if (cartProduct.available == 1) { %>
                <h5 style="color: lawngreen;">Available</h5>
              <% } else { %>
                <h5 style="color: red;">Not Available</h5>
              <% } %>
              <form action="/cart/update-quantity/<%= cartProduct.slug %>?_method=PUT" method="POST">
                <input
                type="number"
                name="cartProductQuantity" 
                id="quantity"
                min="0"
                value="<%= cartProduct.quantity %>"
                oninput="if (this.value < 1) this.value = 1"
                onchange="this.form.submit()"
              >
              </form>
              <form action="/cart/remove-item/<%= cartProduct.slug %>?_method=DELETE" method="POST">
                <button style="height: 30px; border-radius: 3px; border: 1px #000 solid; margin-top: 2px;" type="submit">Remove</button>
              </form>
            </div>
          <% }) %>
          <hr>
          <div style="margin-top: 50px;">
            <div style="display: flex;">
              <% if (!cart.discount) { %>
                <form action="/cart/add-coupon" method="POST">
                  <input
                  type="text"
                  name="coupon"
                  placeholder="Coupon"
                  >
                  <button type="submit">Apply</button>
                </form>
              <% } else { %>
                <form action="/cart/remove-coupon?_method=DELETE" method="POST">
                  <input
                  type="text"
                  name="coupon"
                  value="<%= cart.discount %>% off"
                  disabled
                  >
                  <button type="submit">Remove</button>
                </form>
              <% } %>
            </div>
            <div style="margin-top: 30px;">
              <h1>Total: $<%= cart.totalPrice %></h1>
              <button style="width: 150px; height: 50px;">Checkout</button>
            </div>
          </div>
        <% } %>
      <% } else { %>
        <% if (!cart) { %>
          <hr>
          <h1 style="margin-top: 10px;">Your cart is empty</h1>
        <% } else { %>
          <% if (!cart.listOfProducts[0]) { %>
            <hr>
            <h1 style="margin-top: 10px;">Your cart is empty</h1>
          <% } else { %>
            <% cart.listOfProducts.forEach(product => { %>
              <hr>
              <div style="margin-top: 50px;">
                <a href="/products/show/<%= product.product.slug %>">
                  <img width="75px" height="75px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.product.imagePath %>">
                </a>
                <h2><%= product.product.title %></h2>
                <h4><%= product.price %></h4>
                <% if (product.product.available == 1) { %>
                  <h5 style="color: lawngreen;">Available</h5>
                <% } else { %>
                  <h5 style="color: red;">Not Available</h5>
                <% } %>
                <form action="/cart/update-quantity/<%= product.product.slug %>?_method=PUT" method="POST">
                  <input
                  type="number"
                  name="updateCartQuantity"
                  id="quantity"
                  min="0"
                  value="<%= product.quantity %>"
                  oninput="if (this.value < 1) this.value = 1"
                  onchange="this.form.submit()"
                >
                </form>
                <form action="/cart/remove-item/<%= product.product.slug %>?_method=DELETE" method="POST">
                  <button style="height: 30px; border-radius: 3px; border: 1px #000 solid; margin-top: 2px;" type="submit">Remove</button>
                </form>
              </div>
            <% }) %>
            <hr>
            <div style="margin-top: 50px;">
              <div style="display: flex;">
                <% if (cart.discount == 0) { %>
                  <form action="/cart/add-coupon" method="POST">
                    <input
                    type="text"
                    name="coupon"
                    placeholder="Coupon"
                    >
                    <button type="submit">Apply</button>
                  </form>
                <% } else { %>
                  <form action="/cart/remove-coupon?_method=DELETE" method="POST">
                    <input
                    type="text"
                    name="coupon"
                    value="<%= cart.discount %>% off"
                    disabled
                    >
                    <button type="submit">Remove</button>
                  </form>
                <% } %>
              </div>
              <div style="margin-top: 30px;">
                <h1>Total: $<%= cart.totalPrice %></h1>
                <button style="width: 150px; height: 50px;">Checkout</button>
              </div>
            </div>
          </div>
          <% } %>
        <% } %>
      <% } %>
    </main>
    <div style="margin-top: 100px;">
      <a href="/">Continue shopping</a>
    </div>
  </body>
</html>
