<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | Orders</title>
    <style>
      body {
        background: #282828;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
  
      a {
        color: lawngreen;
      }

      #logout {
        width: 80px;
        height: 30px;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
            <li><a href="/products/new">Add Product</a></li>
          <% } %>
          <% categories.forEach(category => { %>
            <li><a href="/products/category/<%= category.title %>"><%= category.title %></a></li>
          <% }) %>
          <% if (!req.isAuthenticated()) { %>
            <li><a href="/users/login">Sign In</a></li>
          <% } %>
          <% if (req.isAuthenticated()) { %>
            <li><a href="/users/account">My Account</a></li>
            <li><a href="/users/my-wish-list">Wish List</a></li>
          <% } %>
          <li><a href="/cart">Cart</a></li>
        </ul>
        <form action="/" method="GET">
          <input type="search" name="searchField" value="<%= req.query.searchField %>" placeholder="Search">
          <button type="submit">Search</button>
        </form>
        <% searchedProducts.forEach(product => { %>
          <div style="margin-top: 50px;">
            <a href="/products/show/<%= product.slug %>" style="color: #fff; text-decoration: none;">
              <img id="searchImg" width="50px" height="50px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.imagePath %>">
              <h5><%= product.title %></h5>
            </a>
          </div>
        <% }) %>
      </nav>
    </header>
    <main>
      <h1 style="margin-top: 75px;">Order no.: <%= order.id %></h1>
      <div style="margin-top: 25px;">
        <h3>Ordered at: <%= order.createdAt.toDateString() %></h3>
        <hr>
      </div>
      <div style="margin-top: 50px;">
        <% order.OrderItems.forEach(orderItem => { %>
          <div>
            <a href="/products/show/<%= orderItem.slug %>"><img width="275px" height="175px" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= orderItem.imagePath %>"></a>
            <h2><%= orderItem.title %></h2>
            <h2>Price: $<%= orderItem.totalPrice %></h2>
          </div>
          <hr>
        <% }) %>
        <h1 style="margin-top: 25px;">Total Price: <%= order.price %></h1>
      </div>
      <div style="margin-top: 75px;">
        <h2>Shipping Informations</h2>
        <h4>Name: <%= order.name %></h4>
        <h4>Phone number: <%= order.phone %></h4>
        <h4>Email: <%= order.email %></h4>
        <h4>Address Line 1: <%= order.addressLine1 %></h4>
        <h4>Address Line 1: <%= order.addressLine2 %></h4>
        <h4>Zip code: <%= order.zipCode %></h4>
        <h4>Country: <%= order.country %></h4>
        <h4>City: <%= order.city %></h4>
      </div>
    </main>
  </body>
</html>