<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | Register</title>
    <style>
      body {
        background: #282828;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
  
      a {
        color: lawngreen;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
            <li><a href="/products/new">Add Product</a></li>
          <% } %>
          <% categories.forEach(category => { %>
            <li><a href="/products/category/<%= category.title %>"><%= category.title %></a></li>
          <% }) %>
          <li><a href="/users/login">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 style="margin-top: 55px;">Register</h1>
      <% if (locals.errorMessage) { %>
        <%= errorMessage %>
      <% } %>
      <form action="/users/register" method="POST">
        <div>
          <input type="text" name="name" placeholder="Full Name">
        </div>
        <div>
          <input type="email" name="email" placeholder="Email Address">
        </div>
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </main>
    <a href="/users/login">Sign In</a>
  </body>
</html>
