<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | New Product</title>
  </head>
  <style>
    body {
      background: #282828;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
    }

    a {
      color: lawngreen;
    }
  </style>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
            <li><a href="/products/new">Add Product</a></li>
          <% } %>
          <% categories.forEach(category => { %>
            <li><a href="/products/category/<%= category.title %>"><%= category.title %></a></li>
          <% }) %>
          <% if (!req.isAuthenticated()) { %>
            <li><a href="/users/login">Sign In</a></li>
          <% } %>
          <% if (req.isAuthenticated()) { %>
            <li><a href="/users/account">My Account</a></li>
          <% } %>
          <li><a href="/cart">Cart</a></li>
        </ul>
        <form action="/" method="GET">
          <input type="search" name="searchField" value="<%= req.query.searchField %>" placeholder="Search">
          <button type="submit">Search</button>
        </form>
        <% searchedProducts.forEach(product => { %>
          <div style="margin-top: 50px;">
            <a href="/products/show/<%= product.slug %>" style="color: #fff; text-decoration: none;">
              <img id="searchImg" width="50px" height="50px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.imagePath %>">
              <h5><%= product.title %></h5>
            </a>
          </div>
        <% }) %>
      </nav>
    </header>
    <h1>Add New Category</h1>
    <form action="/products/category" method="POST">
      <div>
        <input type="text" name="category" placeholder="Category" />
      </div>
      <button type="submit" style="margin-top: 8px">Add Category</button>
    </form>
    <h1 style="margin-top: 65px">Add New Product</h1>
    <form action="/products/new" method="POST" enctype="multipart/form-data">
      <div>
        <% if (categories) { %>
          <select name="productCategory">
            <% categories.forEach(category => { %>
                <option value="<%= category.title %>"><%= category.title %></option>
            <% }) %>
          </select>
        <% } else { %>
          <select name="productCategory">
            <option></option>
          </select>
        <% } %>
      </div>
      <div>
        <input type="text" name="title" placeholder="Title" />
      </div>
      <div>
        <input type="number" name="price" step="0.01" placeholder="Price" />
      </div>
      <div>
        <input type="text" name="brand" placeholder="Brand" />
      </div>
      <div>
        <input type="number" name="discount" placeholder="Discount" />
      </div>
      <div>
        <input type="text" name="description" placeholder="Description" />
      </div>
      <div>
        <input type="file" name="productImage" placeholder="Image" />
      </div>
      <button style="margin-top: 25px" type="submit">Add Product</button>
    </form>
    <section style="margin-top: 65px">
      <h1>Add Coupon</h1>
      <form action="/products/coupon" method="POST">
        <div>
          <input type="text" name="coupon" placeholder="Coupon">
        </div>
        <div>
          <input type="number" name="couponDiscount" placeholder="Discount">
        </div>
        <button style="margin-top: 8px;" type="submit">Add Coupon</button>
      </form>
    </section>
  </body>
</html>
