<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Ecommerce | Products</title>
    <style>
      body {
        background: #282828;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
  
      a {
        color: lawngreen;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <h1>Ecommerce</h1>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
            <li><a href="/products/new">Add Product</a></li>
          <% } %>
          <% categories.forEach(category => { %>
            <li><a href="/products/category/<%= category.title %>"><%= category.title %></a></li>
          <% }) %>
          <% if (!req.isAuthenticated()) { %>
            <li><a href="/users/login">Sign In</a></li>
          <% } %>
          <% if (req.isAuthenticated()) { %>
            <li><a href="/users/account">My Account</a></li>
          <% } %>
        </ul>
        <form action="/" method="GET">
          <input type="search" name="searchField" value="<%= req.query.searchField %>" placeholder="Search">
          <button type="submit">Search</button>
        </form>
        <% searchedProducts.forEach(product => { %>
          <div style="margin-top: 50px;">
            <a href="/products/show/<%= product.slug %>" style="color: #fff; text-decoration: none;">
              <img id="searchImg" width="50px" height="50px" style="object-fit: cover;" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.imagePath %>">
              <h5><%= product.title %></h5>
            </a>
          </div>
        <% }) %>
      </nav>
    </header>
    <main style="margin-top: 65px;">
      <h1 style="font-size: 50px;"><%= category.title %></h1>
      <section>
        <form action="/products/category/<%= category.title %>" method="GET">
          <select name="productFilter" onchange="this.form.submit()">
            <% if (!req.query.productFilter) { %>
              <option value="" style="display: none;" disabled selected>Filter</option>
            <% } %>
            <% if (req.query.productFilter == 'priceAsc') { %>
              <option selected value="priceAsc">Price: From lowest</option>
            <% } else { %>
              <option value="priceAsc">Price: From lowest</option>
            <% } %>
            <% if (req.query.productFilter == 'priceDesc') { %>
              <option selected value="priceDesc">Price: From highest</option>
            <% } else { %>
              <option value="priceDesc">Price: From highest</option>
            <% } %>
            <% if (req.query.productFilter == 'dataDesc') { %>
              <option selected value="dataDesc">Date: Newest</option>
            <% } else { %>
              <option value="dataDesc">Date: Newest</option>
            <% } %>
            <% if (req.query.productFilter == 'dateAsc') { %>
              <option selected value="dateAsc">Date: Oldest</option>
            <% } else { %>
              <option value="dateAsc">Date: Oldest</option>
            <% } %>
            <% if (req.query.productFilter == 'alphabeticalAsc') { %>
              <option selected value="alphabeticalAsc">Alphabetical: A-Z</option>
            <% } else { %>
              <option value="alphabeticalAsc">Alphabetical: A-Z</option>
            <% } %>
            <% if (req.query.productFilter == 'alphabeticalDesc') { %>
              <option selected value="alphabeticalDesc">Alphabetical: Z-A</option>
            <% } else { %>
              <option value="alphabeticalDesc">Alphabetical: Z-A</option>
            <% } %>
          </select>
        </form>
      </section>
      <% if (req.isAuthenticated() && req.user.isAdmin == 1) { %>
        <form action="/products/category/delete/<%= category.title %>?_method=DELETE" method="POST">
          <button type="submit">Delete Category</button>
        </form>
      <% } %>
      <% if (!category.Products[0]) { %>
        <h1>No products available.</h1>
      <% } else { %>
        <% category.Products.forEach(product => { %>
          <div style="margin-top: 90px;">
            <a href="/products/show/<%= product.slug %>"><img width="275px" height="175px" src="https://ecommerce-template-tommy.s3.eu-central-1.amazonaws.com/<%= product.imagePath %>"></a>
            <h2><%= product.title %></h2>
            <% if (!product.discount == 0) { %>
              <div style="display: flex;">
                <h4><del>$<%= product.price %></del></h4>
                <h4 style="margin-left: 20px; color: red;">$<%= product.totalPrice %></h4>
              </div>
            <% } else { %>
              <h4>$<%= product.price %></h4>
            <% } %>
          </div>
        <% }) %>
      <% } %>
    </main>
  </body>
</html>
